






/*************navbar************/
#search{
    /*float:left;*/
      width:40%;
      /*margin-top:20px;*/
  
    
    
  }
  #lien  {
    /*float:left;*/
      width:25%;
      
  }
  
  input[type="search"]{
    border-radius: 5px;
    border: 2px solid #e7daaf;
    width: 100%;
    height: 40px;
    margin-top: 50px;
    
  }
  nav{
   
    font-weight:bold;
    margin-top: 50px;
    
  }
  nav ul {
    list-style: none;
    display: flex;
    
  }
    
  nav ul li {
    margin-right: 50px;
   
    
  }
    
  nav ul li a {
    text-decoration: none;
    color: #8a495f;
    margin-top: 100px;
  
  }
  ul li a {
    /*float: left;*/
    color: #dd0ef0;
  }
  h3{
    font-size:x-large;
    color: #8a495f;
    margin-left: 20px;
    margin-top: 50px;
    
    /*text-align: left;*/
    
  }
  header{
    background-color:#a2818d;
    width: 100%;
    height: 115px; 
    margin-top: 15px;
    
  }
  
  .image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 35px;
  
  }
  .block
  {
    float: left;
  }